@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Teko:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  body {
    height: 100vh;
    background-color: #000;
    background-size: 40px 40px;
    background-image: radial-gradient(circle, rgba(237, 51, 64, .35) 1px, rgba(0, 0, 0, 1) 1px);
  }


  /* Header CSS */

  .header__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
  }

  .header__logo {
    max-width: 128px;
    height: auto;
  }

  .header__links i {
    text-decoration: none;
    color: #ed3340;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin: 20px;
    padding: 0;
  }

  .header__links a:hover .fa-brands {
    text-shadow: 0 0 10px #ed3340,
                 0 0 20px #ed3340,
                 0 0 40px #ed3340,
                 0 0 80px #ed3340,
                 0 0 160px #ed3340,
                 0 0 320px #ed3340,
                 0 0 640px #ed3340
  }

  .header__links p {
    opacity: 0;
  }

  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  .header__nav a {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: black;
   }

  .header__nav .selected{
    color: white;
   }

  .header__nav button {
    all: unset;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    width: 128px;
    height: 35px;
    border-radius: 4px;
    background-color: #ed3340;
    transition: all 0.3s ease 0s;
  }

  .header__nav button:hover {
    color: white;
    box-shadow: 0 0 5px #ed3340,
                 0 0 10px #ed3340

  }

  /* Test */
  .header__name {
    z-index: -1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 20px;
    justify-content: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    color: #000;
    position: absolute;
    margin-left: 10px;
    width: 100%;
    opacity: 20%;
    height: 138px;
    cursor: pointer;
    animation: blink 8s infinite;
  }
  
  span {
    position: absolute;
    top: 25%;
  }
    
  
  @keyframes blink {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
      color: #000;
      text-shadow: none;
      box-shadow: none;
    }
    
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 100% {
      color: #fa8b92;
    text-shadow: 0 0 10px #ed3340,
                 0 0 20px #ed3340,
                 0 0 40px #ed3340,
                 0 0 80px #ed3340,
                 0 0 160px #ed3340,
                 0 0 320px #ed3340,
                 0 0 640px #ed3340
  }
    }

/* Body CSS */

.body__twitch {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.body__twitch iframe {
  width: 960px;
  height: 540px;
}

.body__youtube {
    margin-top: 75px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body__youtube iframe {
    margin: 20px;
}

.content__splitter {
  display: flex;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  letter-spacing: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  color: #ed3340;
}

/* Panels */

.panels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.panels a {
  text-decoration: none;
}

.panels .panel {
  width: 300px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.panel__one {
  background: linear-gradient(#81cced, #2daae1);
}

.panel__two {
  background: linear-gradient(#f3cf5c, #f956bb);
}

.panel__three {
  background: linear-gradient(#0683fd, #6e0cdc);
}

.panel__one,
.panel__two,
.panel__three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.panels p {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
}

.panels .panel:hover {
  transform: scale(1.05);
}

/* News Page */
.news__feed {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.news__post {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  width: 700px;
  min-height: 600px;
  border: 4px solid #ed3340;
  border-radius: 10px;
}

.news__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 650px;
  height: 100px;
  border-radius: 10px;
  background-color: rgba(20, 20, 20, 0.75)
}

.news__header .news__social {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

/* NEWS POST DETAILS */

.news__details {
  margin-left: 10px;
}

.username {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ed3340;
}

.tag,
.tad {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: white;
}

.news__header .news__social img {
  width: 15%;
}

/*  */

/* NEWS TITLE */

.news__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.news__title h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: white;
}

/*  */

.news__body {
  width: 650px;
  height: 425px;
  border-radius: 10px;
  background-color: rgba(20, 20, 20, 0.75);
  overflow: scroll;
  overflow-x: hidden;
}

.news__body p {
  margin: 20px;
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  font-size: 22px
}

/* ScrollBar */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ed3340;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
  
}



/* Footer */

.footer__copyright {
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
  color: #ed3340;
  letter-spacing: 5px;
  font-size: 12px;
  padding-bottom: 10px;
  opacity: .5;
  width: 100%;
  bottom: 0;

}

/* Media Queries */

@media only screen and (max-width: 1024px) {

  .header__logo {
    width: 96px;
  }

  .header__links i {
    font-size: 22px;
  }

  .header__name {
    font-size: 60px;
    height: 100px;
    letter-spacing: 15px;
  }

  .body__twitch iframe {
    width: 640px;
    height: 320px;
  }

  .body__youtube {
    flex-direction: column;
  }

  /* Panels */

  .panels {
    flex-direction: column;
    align-items: center;
  }

  .panels .panel {
    width: 500px;
    height: 300px;
  }


}

@media only screen and (max-width: 628px) {

  /* Header CSS */

  .header__logo {
    width: 64px;
  }

  .header__links i {
    font-size: 18px;
  }

  .header__name {
    font-size: 55px;
    height: 50px;
    letter-spacing: 10px;
  }

  .header__nav button {
    width: 96px;
    margin-left: 10px;
    margin-right: 10px;
  }

  /* Body CSS */

  .body__twitch iframe {
    width: 480px;
    height: 240px;
  }

  .body__youtube {
    flex-direction: column;
  }

  .content__splitter {
    letter-spacing: 10px;
  }

  /* Panels */
  .panels .panel {
    width: 400px;
    height: 200px;
  }

  .panel img {
    width: 30%;
  }


}
